<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MoleGraph</Name>
    <Version>1.0.0</Version>
    <Title>MoleGraph</Title>
    <Publisher>e-Mole</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>MoleGraph</StartMenuDir>
    <TargetDir>@HomeDir@/e-Mole</TargetDir>
    <InstallerWindowIcon>molegraph</InstallerWindowIcon>
    <InstallerApplicationIcon>molegraph</InstallerApplicationIcon>
    <RunProgram>@TargetDir@/MoleGraph</RunProgram>
</Installer>
